<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="log_level">%highlight{%level}{
            FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue}
        </Property>
        <Property name="log_prefix">[%d{HH:mm:ss} ${log_level}]</Property>
    </Properties>

    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout>
                <LoggerNamePatternSelector
                    defaultPattern="${log_prefix} [%logger] %minecraftFormatting{%msg}%n%xEx">
                    <PatternMatch key="com.loohp.limbo."
                                  pattern="${log_prefix} %minecraftFormatting{%msg}%n%xEx"/>
                    <PatternMatch key="cn.ycraft.limbo."
                                  pattern="${log_prefix} %minecraftFormatting{%msg}%n%xEx"/>
                </LoggerNamePatternSelector>
            </PatternLayout>
        </TerminalConsole>

        <RollingRandomAccessFile name="File" fileName="logs/latest.log"
                                 filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz"
                                 immediateFlush="false">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger]: %stripAnsi{%msg}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy minSize="0"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="25"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
